body {
  padding-top: 80px;
  background-color: #1abc9c !important;
}


/* HERO */
.hero {
  min-height: 100vh;
  background-color: #1abc9c;
  text-align: center;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* STAR DIVIDER */
.star-divider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.star-divider .line {
  width: 80px;
  height: 3px;
  background: white;
}

/* FOOTER TOP */
.footer-top {
  background-color: #2c3e50;
}

.icon {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  background-color: white;
  color: #2c3e50;
}

.about-section {
  min-height: 80dvh;
  background-color: #1abc9c;
  padding-top: 120px;
}

.star-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.star-divider .line {
  width: 80px;
  height: 3px;
  background: white;
}

.portfolio-section {
  min-height: 80dvh;
  background-color: white;

}

.portfolio-card {
  overflow: hidden;
}

.portfolio-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 188, 156, 0.8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.portfolio-card:hover .overlay {
  opacity: 1;
}

.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.modal-img-container {
  max-width: 40%;
}

.modal-img {
  width: 100%;
}

.contact-section {
  padding: 80px 20px;
  text-align: center;
  background-color: #fff;
}

.contact-title {
  font-size: 32px;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 12px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.divider span {
  width: 60px;
  height: 4px;
  background-color: #2c3e50;
  border-radius: 2px;
}

.star {
  font-size: 20px;
  color: #2c3e50;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.contact-form input:focus {
  border-bottom-color: #1abc9c;
}

.contact-form button {
  align-self: flex-start;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #17a589;
}

.custom-link {
  color: #fff !important;
  padding: 8px 16px;
  border-radius: 8px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

/* Active link */
.custom-link.active {
  background-color: #1abc9c;
  color: #fff !important;
}